/* #region GENERAL */
body {
    overflow: hidden;
}
/* #endregion GENERAL */
/* #region debug */
.debug #sidebar {
    background-color: lightcoral;
}
.debug #next_class {
    height: 520px;
    background-color: lightgreen;
}
/* #endregion debug */

                                    /* #region MAIN */
/* #region NAVBAR */
nav {
    height: 70px;
}
/* #endregion NAVBAR */
/* #region SIDEBAR */
#sidebar {
    width: 56px;
    background-image: url(img/sidebar-bg.png);
    background-color: #051e34;
}
#sidebar .container {
    height: calc(100vh - 70px);
}
#sidebar i {
    width: 1.8rem;
    padding: .5rem 0;
    text-align: center;
}
#sidebar .col-12 {
    transition: .8s;
}
#sidebar .col-12:hover {
    background-color: rgba(255, 255, 255, 0.504);
}
/* #endregion SIDEBAR */

/* #region MAIN_PAGE */
#btn_plus {
    transition: .3s;
}
#btn_plus:hover {
    background-color: white;
    color: black;
}
#main_page {
    height: calc(100vh - 70px);
    overflow: auto;
    width: 100%;
}
#offcanvas{
    width: 100%;
}
/* #endregion MAIN_PAGE */



                                    /* #endregion MAIN */



/* ############### - MEDIA QUERY - ############### */
@media (min-width: 576px) {

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {
    #sidebar {
        width: 150px;
    }
    #offcanvas {
        width: 50%;
    }
}
@media (min-width: 1200px) {

}
@media (min-width: 1400px) {

}